@use '../../../scss/mixins.scss';
@use '../../../scss/variables.scss';

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination__button {
  @include mixins.text;
  padding: 5px 8px 2px;
  color: variables.$content-color;

  &.active {
    border: 1px solid variables.$main-color;
    border-radius: 5px;
    cursor: default;
  }
}
