@use '../../scss/variables.scss';
@use '../../scss/mixins.scss';

.header {
  display: flex;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 0 20px;
  border-bottom: 2px solid variables.$main-color;
}

.header__logo {
  width: 250px;
  margin-right: 50px;
}

.header__nav {
  margin-right: auto;
}

.header__user-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__username {
  @include mixins.text;
  font-weight: 700;
  color: variables.$main-color;
}

.header__exit-button {
  @include mixins.text;
  color: variables.$content-color;

  &:hover {
    color: variables.$main-color;
  }
}
